/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general code */
body{
    font: 15px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#f1{
    background-color: hsl(218, 44%, 22%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 95%;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

/* user name & contact info */
.user, #gender{
    margin: 5px 0;
    margin-bottom: 10px;
    
}

.user label, #gender label{
    padding-left: 10px;
}
.user input, #gender select{ 
    display: block;
    padding-left: 20px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

/* user course & payment input */
#web input{
    margin-right: 5px;
    margin-bottom: 5px;
}

#payment input{
    margin-top: px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* button */
button{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #e50914;
    border: none;
}

button:hover{
    background-color: #601818;
    cursor: pointer;
    color: #fff;
}
